PORTAL_NAME=Middlebury ITS Network Portal

LIBRENMS_DB_HOST=127.0.0.1
LIBRENMS_DB_PORT=3306
LIBRENMS_DB_NAME=librenms
LIBRENMS_DB_USER=librenms
LIBRENMS_DB_PASSWORD=change_me

LIBRENMS_BASE_URL=https://nms.jestertek.cc
OXIDIZED_BASE_URL=https://nms.jestertek.cc/oxidized
